#parentdiv > * {
  margin-bottom: 10px;
}

label {
  margin-right: 5px;
  margin-left: 5px;
}
.label-short {
  width: 100px;
}
.label-medium {
  width: 150px;
}
.label-long {
  width: 200px;
}

input {
  margin-left: 5px;
}
textarea {
  margin-left: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column > * {
  margin: 10px;
}
